* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

div {
    border: 1px solid black;
}

h1 {
    text-align: center;
    margin: 50px auto;
    font-size: 2.5rem;
    width: 60%;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 150px;
    align-items: center;
}

.numbers:nth-child(3) {
    align-self: center;
}

.cardset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 150px 100px;
    align-items: center;
    gap: 10px;
}

.numbercard {
    text-align: center;
}

.card {
    text-align: center;
}

.card {
    width: 15rem;
    height: 10rem;
}
.card .name {
    width: 15em;
    height: 10rem;
}

.big_number {
    font-size: 42px;
    font-weight: bold;
    color: rgb(95,106,190);
    padding: 20px;
}

.numbercard p {
    font-weight: 600;
    color: grey;
}
