.card {
    width: 250px;
    height: 300px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    margin: 30px;
}

.card:hover {
    box-shadow: 2px 10px 20px 10px rgba(0, 0, 0, 0.3);
}

.img-container {
    width: 90%;
    height: 75%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.img-container img {
    max-width: 150%;
    max-height: 150%;
}

p {
    margin: 0;
}

.title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}