* {
    box-sizing: border-box;
}

ul, h4 {
    margin-left: 50px;
}

img {
    display: block;
    width: 400px;
    height: auto;
    border: 5px solid red;
    margin: 50px auto;
    text-align: center;
}

.redtext {
    border: 1px solid red;
    font-weight: bold;
    color: red;
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

table {
    width: 900px;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
}