{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>New Films</h1>
    <div class="row">
        {% for film in films %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <img style="width: 100%; height: auto; margin-bottom: 10px;"  src="{{ film.poster.image.url }}" alt="{{ film.poster.explanation_img }}">
                        <h5 class="card-title">{{ film.title }}</h5>
                        <h5 class="card-title">{{ film.release_date }}</h5>
                        <p class="card-title">Rating:
                            {% for i in film.review.all %}
                            {{i.rating}}
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p class="card-text">Director(s): 
                            {% for director in film.director.all %}
                            {{ director.first_name }} {{ director.last_name }}
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
<div class="alert alert-primary" role="alert">Please, login or register</div>
{% endif %}


{% endblock %}