* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

header {
    height: 60px;
    width: 100vw;
    background-color: rgb(248,249,250);
}
.logo {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 150px;
    margin-top: 10px;
}
.button {
    display: inline-block;
    float: right;
    margin-right: 150px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(53,121,246);
    color: white;
    font-size: 14px;
    border: none;
}

body {
    background-image: url("https://images.pexels.com/photos/734973/pexels-photo-734973.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

div h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 200px 200px 100px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
}

.form {
    text-align: center;
    margin-bottom: 200px;
}

#email {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    border: none;
}

#sign_up {
    width: 125px;
    height: 40px;
    background-color: rgb(53,121,246);
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    color: white;
    border: none;
}

footer {
    height: 500px;
    background-color: rgb(248,249,250);
    text-align: center;
}

i {
    font-size: 80px;
    color: rgb(53,121,246);
    display: block;
}

.item {
    display: inline-block;
    width: 300px;
    margin-top: 100px;
    text-align: center;
}

.item > * {
    padding: 20px;
}

.item p {
    color: grey;
}