<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular GIFs</title>
</head>
<body>
    <h1>Popular GIFs</h1>
    {% if gifs %}
        <ul>
        {% for gif in gifs %}
            <li>{{ gif.title }} - Likes: {{ gif.likes }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No popular gifs found.</p>
    {% endif %}
